h2 {
  font-family: 'Nunito' sans-serif;
  text-align: center;
  color: #80658e; }

h3 {
  font-family: 'Nunito' sans-serif;
  text-align: center;
  color: #80658e; }

h5 {
  font-family: 'Nunito' sans-serif;
  text-align: center;
  color: #80658e; }

h6 {
  font-family: 'Nunito' sans-serif;
  text-align: center;
  color: #80658e; }

h2 {
  font-weight: 600;
  margin-top: 15px; }

h3 {
  font-weight: 300;
  font-style: italic; }

h5 {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 3px;
  margin: 2px; }

h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 200;
  padding: 3px;
  margin: 2px; }

html {
  background-color: white; }

body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

main {
  padding: 30px;
  margin: 20px; }

h1 {
  font-family: 'Nunito' sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 15px;
  line-height: 130%; }

p {
  font-family: 'Nunito' sans-serif;
  text-align: justify;
  margin: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center; }

/* HEADER Y MENU DESPLEGABLE */
header {
  height: 50px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 500; }

header nav {
  position: fixed;
  top: 16px;
  right: 22px; }

header h4 {
  color: black;
  padding: 10px;
  text-decoration-line: none;
  font-family: 'Nunito' sans-serif;
  font-weight: 400; }

nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 13px; }

nav a {
  color: black;
  text-decoration-line: none;
  font-family: 'Nunito' sans-serif;
  font-weight: 300; }

a:hover {
  color: #ACA8A8; }

#menudesplegable {
  display: none; }

div h4 {
  display: none; }

@media screen and (max-width: 768px) {
  header {
    display: none; }
  div h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    background-color: #80658e;
    padding: 10px;
    color: white;
    margin: 0; }
  #menudesplegable {
    display: flex;
    justify-content: center;
    position: relative; }
  .menu {
    background-color: #6CAC74; }
  .botonMenu {
    color: white;
    font-size: 2rem; }
  #menudesplegable button:focus {
    text-decoration: none;
    color: white; }
  #menudesplegable button:hover {
    text-decoration: none;
    color: white; }
  .menuitems {
    font-size: 2rem;
    border: 1px solid grey; }
  #anchomenu {
    justify-content: stretch; } }

/* FOOTER */
footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #80658e;
  text-align: center;
  margin: 0; }

footer div {
  color: white; }

footer a {
  color: white;
  text-decoration: none; }

.newsletterfooter {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem; }

#botonNewsletter {
  height: 25px;
  width: 65px;
  padding: 0;
  margin: 2%; }

.margenesFooter {
  margin: 0;
  padding: 15px; }

#linksFooter {
  display: flex;
  direction: row;
  justify-content: space-around;
  align-content: center; }

.socialmedia {
  display: flex;
  direction: row;
  height: 85%; }

.icon {
  align-self: center;
  padding: 0 5px; }

.main__titulo--fuente {
  font-family: 'Nunito' sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  color: white; }

.main__subtitulo--fuente {
  color: white;
  padding: 10px;
  margin: 10px; }

.main__link--fuente {
  font-family: 'Nunito' sans serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration-line: none;
  color: white;
  padding: 4px; }

#botonFP {
  margin: 10px; }

.margenesHome {
  margin: 10px 0;
  padding: 30px 0px 0px 10px; }

.posicionhome {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center; }

.homeDerecha {
  background-color: #80658e;
  height: 100%; }

.main__boton--posicion {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.div__texto--fuente {
  font-family: 'Nunito' sans-serif;
  font-size: 0.8rem;
  padding: 3px;
  margin: 2px; }

h1 a {
  text-decoration: none;
  color: white; }

h1 a:hover {
  text-decoration: none;
  color: #6CAC74; }

@media screen and (max-width: 768px) {
  .main__titulo--fuente a {
    font-size: 3rem; }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .main__boton--posicion {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    padding: 10px;
    margin: 10px; }
  .formbutton {
    display: flex;
    height: 50px; }
  div .formbutton {
    justify-self: center; }
  div a {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    text-align: center; }
  .div__texto--fuente {
    font-size: 1.3rem;
    text-align: center; }
  div h5, h6 {
    font-size: 1.5rem; } }

form {
  font-family: 'Nunito' sans-serif;
  font-size: 130%;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: left;
  line-height: 300%;
  position: relative;
  margin-top: 3%; }

form select {
  font-family: 'Nunito' sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 18px;
  width: 100%;
  padding: 3px; }

.form-control:focus {
  background-color: #fff;
  border-color: #80658e;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #92729a; }

.formbutton {
  color: white;
  background-color: #6CAC74;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin: 5px; }

#posicionBotonesForm {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 8px; }

button {
  transition: all 0.5s; }

form button:hover {
  background-color: #80658e; }

.contenedorGuias {
  border: 2px solid lightgrey;
  margin: 20px 0; }

.bordeGuias {
  border-right: 2px solid darkgrey; }

.margenesTexto {
  margin: 30px; }

.margenesSecciones {
  margin: 20px; }

@media screen and (max-width: 990px) {
  .bordeGuias {
    border-right: none;
    border-bottom: 2px solid lightgrey;
    margin: 10px;
    padding: 10px; }
  #cabildo {
    display: none; }
  #congreso {
    display: none; } }

.imagenesReservas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ACA8A8;
  margin-top: 10px; }

.columnaCaja {
  flex-basis: 450px;
  border: 1px solid #ACA8A8;
  margin: 10px;
  padding-top: 10px; }

#columnas {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  #columnas {
    display: flex;
    flex-direction: column; }
  .columnaCaja {
    margin: 2rem;
    padding: 0.5rem; } }

section#recoleta {
  transition: all 1s; }

section#recoleta:hover {
  transform: scale(1.05); }

section#jardinjapones {
  transition: all 1s; }

section#jardinjapones:hover {
  transform: scale(1.05); }

section#plazademayo {
  transition: all 1s; }

section#plazademayo:hover {
  transform: scale(1.05);
  z-index: 50; }

.zindexReservas {
  z-index: 1; }

div#regulares {
  transition: all 1s; }

div #regulares:hover {
  transform: scale(1.05); }

div#personalizados {
  transition: all 1s; }

div #personalizados:hover {
  transform: scale(1.05); }
