.contenedorGuias {
	margin: 2rem 0 4rem;
}
.margenesTexto {
	margin: 30px;
}
.margenesSecciones {
	margin: 20px;
}
.imagenGuiasAbout {
	margin: 10px;
	border-radius: 200px;
}
#imagenBanner {
	padding: 0;
	margin: 0;
	width: 100%;
	img {
		width: 100%;
	}
}
#tituloAbout {
	padding: 10px;
	margin: 5px;
}
@media screen and (max-width:990px) {
	.imagenGuiasAbout{
		width: 10rem;
		height: 10rem;
	}
}
@media screen and (max-width: 574px) {
	.margenesTexto {
		text-align: justify;
	}
	.xslayout {
		display: flex;
		flex-direction: column-reverse;
	}
	.xslayoutchild {
		display: flex;
		justify-content: center;	
	}
}
@media screen and (min-width: 700px) {
	.margenesTexto {
		text-align: right;
	}
}